body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;


}

h1 {

    text-align: center;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 4px solid gray;
    border-radius: 6px;
    margin: 50px auto;
    background-color: aquamarine;
    color: black;
    font-family: monospace;
    font-size: larger;
    font-weight: bolder;
}


#btns{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 50px auto;
    gap:6px
}

#btns button {
    flex: 1 1 0;
    padding: 10px;
    color: white;
    font-weight: 900;
    font-size: 16px;
    background-color: yellowgreen;
    border: 2px solid gray;
    border-radius: 4px;
    
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
