body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Roboto, Oxygen, Ubuntu, Cantarell;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-size: 16px;


}

.main {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 40px;
   

}

h1 {
   
    text-align: center;
    color: #4A5BC6;
    font-size: 3rem;
    
}

.calculator-wrapper {

    height: 500px;
    width: 300px;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 25px 20px;
    border-radius: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#display {
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    height: 100px;
    width: 270px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    font-weight: 700;
    font-size: 1.7rem;
    background-color: #f7f7f7;
    color:#4A5BC6;
    overflow: hidden;

    
}

#btns {

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 250px;
    
}

button {
   
    font-size: 1.2rem;
    box-sizing: border-box;
    border: none;
    
    color: #707dcc;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: large;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    transition: all 0.1s ease;
    

}

#equal {
    height: 50px;
    width: 180px;
    border-radius: 16px;
    color: white;
    background-color: rgb(252, 198, 72);
    font-size: 2rem;
    font-weight: 800;
}

#clear,
#backspace,
#decimal,
#division,
#multi,
#minus,
#plus {

    background-color: #efeeee;
}


button:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-6px);
    
}

button:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
          
}

footer {
    margin-top: 80px;
    text-align: center;
    font-size: 0.8rem;
    color: #4B5BC5;
}


footer a{

    font-weight: bolder;
}
footer a:hover{

    color: red;
    font-weight: bolder;
    text-decoration: none;
}