body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;


}

.main {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

}

h1 {
    text-align: center;
}

.calculator-wrapper {

    height: 500px;
    width: 350px;
    box-sizing: border-box;
    border: 4px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    border-radius: 15px;
    background-color: rgb(197, 197, 197);
}

#display {
    box-sizing: border-box;
    border: 4px solid grey;
    border-radius: 12px;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    font-weight: 500;
    font-size: x-large;
    background-color: aquamarine;
    color:rgb(125, 115, 101);
    
}

#btns {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
   
}

button {
   
    font-size: x-large;
    box-sizing: border-box;
    border: 2px solid rgb(68, 68, 10);
    color: rgb(176, 114, 33);
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

#equal, 
#backspace, 
#clear {
    width: 90px;
    height: 50px;
    border-radius: 10px
}
